.product-listing {
  display: flex;
  flex-direction: column;
}

.title,
.list {
  padding: $paddingSmall;
}

.title {
  top: 0;
  position: sticky;
  background: var(--background);
  border-bottom: 1px solid $grey5;
}
