.product-listing {
  display: flex;
  flex-direction: column;
}

.title {
  top: 0;
  position: sticky;
  background: var(--background);
  padding: $paddingSmall;

  &::after {
    content: "";
    position: absolute;
    inset: calc(100% - 1px) 0 auto 0;
    height: 1px;
    background-color: $grey5;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
  }

  &--sticky::after {
    transform: scaleX(1);
  }
}

.list {
  padding-inline: $paddingSmall;
}
