// MVP:
// mobile & desktop
// Post-MVP:
// sticky nav, shows when at top, or when scrolling upwards
// hides when scrolling down AND past the initial visibility of the nav

$navHeight: 40px;
$navBottomBorder: 1px;

.nav {
  position: relative;
  padding: 12px;
  height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  border-bottom: $navBottomBorder solid $grey1;
}

.menu {
  position: absolute;
  inset: calc(100% + #{$navBottomBorder}) 0 auto 0;
  background: $white;
  height: 100px;
}

.backdrop {
  position: absolute;
  inset: 100% 0 auto 0;
  height: calc(100vh - (100% + #{$navHeight}));
  background-color: $grey3;
  opacity: 0.2;
}
