services:
  database:
    image: mysql:8.4.7
    restart: always
    env_file:
      - ./db/.env
    volumes:
      - db_data:/var/lib/mysql
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - 3000:3000
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run start:dev

volumes:
  db_data:
