services:
  database:
    image: mysql:8.4.7
    restart: always
    env_file:
      - ./db/.env
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - 3000:3000
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["/bin/sh", "-c", "./startup.sh && npm run start:dev"]
    depends_on:
      database:
        condition: service_healthy

volumes:
  db_data:
