services:
  database:
    image: mysql:8.4.7
    restart: always
    env_file:
      - ./db/.env
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
  server:
    build: ./server
    env_file:
      - ./server/.env
    ports:
      - 3000:3000
    volumes:
      - ./server:/app
      - /app/node_modules
    command: ["./startup.sh"]
    depends_on:
      database:
        condition: service_healthy
  client:
    build: ./client
    env_file:
      - ./client/.env
    ports:
      - 3001:3000
    volumes:
      - ./client:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]

volumes:
  db_data:
