.product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include desktop {
    &:hover .variant-details {
      opacity: 1;
    }
  }
}

.image {
  // TODO: background here just for dev
  background: $grey7;
  aspect-ratio: 250 / 375;
}

.details {
  display: flex;
  flex-direction: column;
  gap: $gutterSmall;

  @include desktop {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.product-details,
.variant-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.variant-details {
  color: $grey3;

  @include desktop {
    opacity: 0;
    align-items: flex-end;
    flex-direction: column-reverse;
    transition: opacity 400ms ease-in-out;
    text-align: end;
  }
}

.variant-colors {
  display: flex;
  gap: 8px;
  align-items: center;
}

.color-swatches {
  display: flex;
  gap: 8px;
}
