$mobile: 0px;
$tablet: 768px;
$desktop: 1024px;
$large: 1280px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}
